node-red/butler-flow.json
[{"id":"cd4a52dc.eea47","type":"mqtt in","z":"e00c8c3d.031ad","name":"start","topic":"butler/start","qos":"2","datatype":"json","broker":"b9fc56dd.371b88","x":110,"y":160,"wires":[["cce28f8b.ea563"]]},{"id":"243352a1.e6a63e","type":"exec","z":"e00c8c3d.031ad","command":"aplay","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"say","x":1250,"y":200,"wires":[["6b56492e.58aea8"],[],[]]},{"id":"71187731.50ef78","type":"function","z":"e00c8c3d.031ad","name":"assign","func":"msg.retry = msg.retry + 1\n\nmsg.payload = \"-q \"\nmsg.payload += \"/home/pi/butler/say/\"\nmsg.payload += msg.say\nmsg.payload += \".wav\"\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":200,"wires":[["243352a1.e6a63e"]]},{"id":"33ee68ce.56e138","type":"exec","z":"e00c8c3d.031ad","command":"arecord","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"listen","x":410,"y":720,"wires":[["d86011cc.df45e","d3f0298e.6ad3e8"],[],[]]},{"id":"c8597515.963db8","type":"function","z":"e00c8c3d.031ad","name":"assign","func":"if (msg.announce)\n    msg.payload = \"-q -d 5\"\nelse\n    msg.payload = \"-q -d 3\"\nmsg.payload += \" -t wav \"\nmsg.payload += \"/home/pi/butler/listen/response\"\nmsg.payload += msg.retry.toString()\nmsg.payload += \".wav\"\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":720,"wires":[["33ee68ce.56e138","b61021c7.6c72e"]]},{"id":"b920ae85.767cb","type":"exec","z":"e00c8c3d.031ad","command":"curl","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"nlu","x":770,"y":720,"wires":[["f99a4085.94339"],[],[]]},{"id":"d48cf34c.1593a","type":"function","z":"e00c8c3d.031ad","name":"assign","func":"msg.payload = \"-XPOST https://api.wit.ai/speech?v=20200525 \"\nmsg.payload += \" -s\"\nmsg.payload += \" -H 'Authorization: Bearer \"\nmsg.payload += msg.token\nmsg.payload += \"'\"\nmsg.payload += \" -H 'Content-Type: audio/wav'\"\nmsg.payload += \" --data-binary @/home/pi/butler/listen/response\"\nmsg.payload += msg.retry.toString()\nmsg.payload += \".wav\"\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":720,"wires":[["b920ae85.767cb"]]},{"id":"b2620ce.09719f","type":"switch","z":"e00c8c3d.031ad","name":"intent","property":"intent","propertyType":"msg","rules":[{"t":"eq","v":"VolumeUpIntent","vt":"str"},{"t":"eq","v":"VolumeDwIntent","vt":"str"},{"t":"eq","v":"StartIntent","vt":"str"},{"t":"eq","v":"DeliveryIntent","vt":"str"},{"t":"eq","v":"NeighborIntent","vt":"str"},{"t":"eq","v":"PoliceIntent","vt":"str"},{"t":"eq","v":"YesIntent","vt":"str"},{"t":"eq","v":"ComingIntent","vt":"str"},{"t":"eq","v":"NotComingIntent","vt":"str"},{"t":"eq","v":"NotInterestedIntent","vt":"str"},{"t":"eq","v":"LeaveIntent","vt":"str"},{"t":"eq","v":"MagicIntent","vt":"str"},{"t":"eq","v":"NoIntent","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":14,"x":490,"y":180,"wires":[["6408b804.6cfc68"],["8338d0a2.bd081"],["a2e4abbc.534ec8"],["ceffd356.1cd63"],["e778064a.3ffe78"],["ab43e87d.6f0b38"],["a4f82e09.0ec5f"],["f299d92d.8bb038"],["8ca8c785.db9718"],["c4f8e775.ce94d8"],["6a1b0ad4.e771d4"],["979cf3db.ea533"],["b15742f8.319fc"],["b0049a8d.4dbd08"]]},{"id":"21f37bc.68f8984","type":"json","z":"e00c8c3d.031ad","name":"","property":"payload","action":"","pretty":false,"x":1010,"y":720,"wires":[["e7dbabe5.01c018"]]},{"id":"cce28f8b.ea563","type":"function","z":"e00c8c3d.031ad","name":"assign","func":"msg.token = msg.payload.token\nmsg.volume = msg.payload.volume\nmsg.intent = msg.payload.intent\nmsg.retry = 0\nmsg.payload = util.format(\"cset numid=1 %d%%\", msg.volume)\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["88235f13.54154"]]},{"id":"ec470645.896b68","type":"mqtt out","z":"e00c8c3d.031ad","name":"intent","topic":"butler/intent","qos":"","retain":"","broker":"b9fc56dd.371b88","x":410,"y":800,"wires":[]},{"id":"d85215f2.16c688","type":"rpi-gpio in","z":"e00c8c3d.031ad","name":"","pin":"16","intype":"up","debounce":"25","read":false,"x":120,"y":320,"wires":[["1914fc5a.ead6a4"]]},{"id":"1914fc5a.ead6a4","type":"switch","z":"e00c8c3d.031ad","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":320,"wires":[["20e47b88.0153c4"]]},{"id":"9c45acba.6a05b","type":"exec","z":"e00c8c3d.031ad","command":"amixer","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"mixer","x":730,"y":60,"wires":[["a2e4abbc.534ec8"],[],[]]},{"id":"b9f12c79.868af","type":"link out","z":"e00c8c3d.031ad","name":"IntentOut","links":["c6eea1c6.ed794"],"x":1235,"y":680,"wires":[]},{"id":"c6eea1c6.ed794","type":"link in","z":"e00c8c3d.031ad","name":"IntentIn","links":["b9f12c79.868af","9f8e0afb.f68e98","70601700.86f5f8","97af3f44.88339"],"x":375,"y":220,"wires":[["b2620ce.09719f"]]},{"id":"a2e4abbc.534ec8","type":"function","z":"e00c8c3d.031ad","name":"who","func":"msg.say = \"ask-who\"\nmsg.record = true\nmsg.announce = false\nmsg.reason = \"Unknown\"\n\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":40,"wires":[["71187731.50ef78"]]},{"id":"ceffd356.1cd63","type":"function","z":"e00c8c3d.031ad","name":"signature","func":"msg.say = \"ask-okdoor\"\nmsg.record = true\nmsg.announce = false\nmsg.reason = \"Delivery\"\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":80,"wires":[["71187731.50ef78"]]},{"id":"6e5e7205.1c1b2c","type":"switch","z":"e00c8c3d.031ad","name":"listen?","property":"record","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":720,"wires":[["c8597515.963db8"],["72b6835d.0c392c"]]},{"id":"a4f82e09.0ec5f","type":"function","z":"e00c8c3d.031ad","name":"announce","func":"msg.say = \"ask-announce\"\nmsg.record = true\nmsg.announce = true\nmsg.intent = \"AnnounceIntent\"\nreturn msg;\n","outputs":1,"noerr":0,"x":920,"y":200,"wires":[["71187731.50ef78"]]},{"id":"b15742f8.319fc","type":"function","z":"e00c8c3d.031ad","name":"goodbye","func":"msg.say = \"say-goodbye\"\nmsg.record = false\nmsg.announce = false\nmsg.intent = \"NoIntent\"\nreturn msg;\n","outputs":1,"noerr":0,"x":920,"y":440,"wires":[["71187731.50ef78"]]},{"id":"e7dbabe5.01c018","type":"function","z":"e00c8c3d.031ad","name":"assign","func":"if (msg.payload.hasOwnProperty(\"intents\") && msg.payload.intents.length > 0)\n    msg.intent = msg.payload.intents[0].name\nelse\n    msg.intent = 'NullIntent'\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":720,"wires":[["b9f12c79.868af","72b6835d.0c392c"]]},{"id":"8671633c.417c4","type":"rpi-gpio out","z":"e00c8c3d.031ad","name":"","pin":"22","set":true,"level":"0","freq":"","out":"out","x":620,"y":660,"wires":[]},{"id":"d3f0298e.6ad3e8","type":"change","z":"e00c8c3d.031ad","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":660,"wires":[["8671633c.417c4"]]},{"id":"b61021c7.6c72e","type":"change","z":"e00c8c3d.031ad","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":660,"wires":[["8671633c.417c4"]]},{"id":"6408b804.6cfc68","type":"function","z":"e00c8c3d.031ad","name":"up","func":"if (msg.volume <= 90)\n    msg.volume = msg.volume + 8\nelse\n    msg.volume = 98\nmsg.payload = util.format(\"cset numid=1 %d%%\", msg.volume)\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":40,"wires":[["9c45acba.6a05b"]]},{"id":"8338d0a2.bd081","type":"function","z":"e00c8c3d.031ad","name":"dw","func":"if (msg.volume > 48)\n    msg.volume = msg.volume - 8\nelse\n    msg.volume = 40\n    \nmsg.payload = util.format(\"cset numid=1 %d%%\", msg.volume)\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":80,"wires":[["9c45acba.6a05b"]]},{"id":"39ac25bd.fed11a","type":"file in","z":"e00c8c3d.031ad","name":"audio","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":770,"y":780,"wires":[["3bf19cb4.6ae954"]]},{"id":"cfd624ea.b54338","type":"mqtt out","z":"e00c8c3d.031ad","name":"announce","topic":"butler/announce","qos":"","retain":"","broker":"b9fc56dd.371b88","x":1040,"y":780,"wires":[]},{"id":"b0049a8d.4dbd08","type":"switch","z":"e00c8c3d.031ad","name":"retry","property":"retry","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":590,"y":540,"wires":[["53811659.53aed8"],["d8a3e876.7386f8"],["bc85266f.92b698"]]},{"id":"53811659.53aed8","type":"function","z":"e00c8c3d.031ad","name":"needdoor","func":"msg.say = \"ask-sorrydoor\"\nmsg.record = true\nmsg.announce = false\n\nreturn msg;\n","outputs":1,"noerr":0,"x":920,"y":540,"wires":[["71187731.50ef78"]]},{"id":"d8a3e876.7386f8","type":"change","z":"e00c8c3d.031ad","name":"vol-up","rules":[{"t":"set","p":"intent","pt":"msg","to":"VolumeUpIntent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":560,"wires":[["97af3f44.88339"]]},{"id":"bc85266f.92b698","type":"change","z":"e00c8c3d.031ad","name":"end","rules":[{"t":"set","p":"intent","pt":"msg","to":"NoIntent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":600,"wires":[["97af3f44.88339"]]},{"id":"f299d92d.8bb038","type":"function","z":"e00c8c3d.031ad","name":"coming","func":"msg.say = \"say-coming\"\nmsg.record = false\nmsg.announce = false\nmsg.intent = \"NoIntent\"\nreturn msg;\n","outputs":1,"noerr":0,"x":920,"y":240,"wires":[["71187731.50ef78"]]},{"id":"8ca8c785.db9718","type":"function","z":"e00c8c3d.031ad","name":"notcoming","func":"msg.say = \"say-notcoming\"\nmsg.record = false\nmsg.announce = false\nmsg.intent = \"NoIntent\"\nreturn msg;\n","outputs":1,"noerr":0,"x":910,"y":280,"wires":[["71187731.50ef78"]]},{"id":"c4f8e775.ce94d8","type":"function","z":"e00c8c3d.031ad","name":"notinterested","func":"msg.say = \"say-notinterested\"\nmsg.record = false\nmsg.announce = false\nmsg.intent = \"NoIntent\"\nreturn msg;\n","outputs":1,"noerr":0,"x":910,"y":320,"wires":[["71187731.50ef78"]]},{"id":"fac33b65.2bbbd8","type":"function","z":"e00c8c3d.031ad","name":"assign","func":"msg.filename = \"/home/pi/butler/listen/response\"\nmsg.filename += msg.retry.toString()\nmsg.filename += \".wav\"\n\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":780,"wires":[["39ac25bd.fed11a"]]},{"id":"d86011cc.df45e","type":"switch","z":"e00c8c3d.031ad","name":"ask","property":"announce","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":720,"wires":[["d48cf34c.1593a"],["fac33b65.2bbbd8","72b6835d.0c392c"]]},{"id":"a23c2701.9bfd68","type":"link in","z":"e00c8c3d.031ad","name":"NLUin","links":["ebd7e51.3076318","6b56492e.58aea8"],"x":75,"y":720,"wires":[["6e5e7205.1c1b2c"]]},{"id":"979cf3db.ea533","type":"function","z":"e00c8c3d.031ad","name":"magic","func":"msg.say = \"say-magic\"\nmsg.record = false\nmsg.announce = false\nmsg.intent = \"NoIntent\"\nmsg.reason = \"Magic\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":400,"wires":[["71187731.50ef78"]]},{"id":"97af3f44.88339","type":"link out","z":"e00c8c3d.031ad","name":"IntentOut","links":["c6eea1c6.ed794"],"x":815,"y":580,"wires":[]},{"id":"6a1b0ad4.e771d4","type":"function","z":"e00c8c3d.031ad","name":"leave","func":"msg.say = \"say-leave\"\nmsg.record = false\nmsg.announce = false\nmsg.intent = \"NoIntent\"\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":360,"wires":[["71187731.50ef78"]]},{"id":"6b56492e.58aea8","type":"link out","z":"e00c8c3d.031ad","name":"NLUout","links":["a23c2701.9bfd68"],"x":1335,"y":200,"wires":[]},{"id":"88235f13.54154","type":"exec","z":"e00c8c3d.031ad","command":"amixer","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"mixer","x":350,"y":160,"wires":[["b2620ce.09719f"],[],[]]},{"id":"20e47b88.0153c4","type":"mqtt out","z":"e00c8c3d.031ad","name":"pushbutton","topic":"butler/pushbutton","qos":"","retain":"","broker":"b9fc56dd.371b88","x":390,"y":320,"wires":[]},{"id":"9bb88067.6428b","type":"change","z":"e00c8c3d.031ad","name":"null","rules":[{"t":"set","p":"intent","pt":"msg","to":"NullIntent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":680,"wires":[["b9f12c79.868af"]]},{"id":"f99a4085.94339","type":"switch","z":"e00c8c3d.031ad","name":"error?","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":890,"y":720,"wires":[["9bb88067.6428b"],["21f37bc.68f8984"]]},{"id":"3bf19cb4.6ae954","type":"base64","z":"e00c8c3d.031ad","name":"","action":"","property":"payload","x":900,"y":780,"wires":[["cfd624ea.b54338"]]},{"id":"e778064a.3ffe78","type":"function","z":"e00c8c3d.031ad","name":"neighbor","func":"msg.say = \"ask-okdoor\"\nmsg.record = true\nmsg.announce = false\nmsg.reason = \"Neighbor\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":920,"y":120,"wires":[["71187731.50ef78"]]},{"id":"72b6835d.0c392c","type":"function","z":"e00c8c3d.031ad","name":"json","func":"return {payload: JSON.stringify(msg)};","outputs":1,"noerr":0,"x":290,"y":800,"wires":[["ec470645.896b68"]]},{"id":"ab43e87d.6f0b38","type":"function","z":"e00c8c3d.031ad","name":"police","func":"msg.say = \"ask-okdoor\"\nmsg.record = true\nmsg.announce = false\nmsg.reason = \"Police\"\n\nreturn msg;\n","outputs":1,"noerr":0,"x":930,"y":160,"wires":[["71187731.50ef78"]]},{"id":"b9fc56dd.371b88","type":"mqtt-broker","z":"","name":"HASS","broker":"192.168.101.113","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
