node-red/butler-flow.json
[{"id":"9a45335.49dd0d","type":"mqtt in","z":"83b42288.2eb27","name":"start","topic":"butler/dialogueManager/startSession","qos":"2","datatype":"json","broker":"7c4ce906.75ea08","x":110,"y":240,"wires":[["cf5f4fab.23461"]]},{"id":"11c3a767.9eba09","type":"exec","z":"83b42288.2eb27","command":"aplay","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"play","x":1030,"y":200,"wires":[["8fff28e8.741ef8"],[],[]]},{"id":"86c2173d.241b08","type":"function","z":"83b42288.2eb27","name":"assign","func":"msg.retry = msg.retry + 1\n\nmsg.payload = \"-q \"\nmsg.payload += \"/home/pi/butler/say/\"\nmsg.payload += msg.say\nmsg.payload += \".wav\"\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":200,"wires":[["11c3a767.9eba09"]]},{"id":"cf0bc43e.25cd08","type":"exec","z":"83b42288.2eb27","command":"arecord","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"record","x":1030,"y":265,"wires":[["a6426b45.415018","44b3fc6f.8f8904"],[],[]]},{"id":"56e6439e.6551cc","type":"function","z":"83b42288.2eb27","name":"assign","func":"msg.payload = \"-q -d 3\"\nmsg.payload += \" -t wav \"\nmsg.payload += \"/home/pi/butler/listen/response\"\nmsg.payload += msg.retry.toString()\nmsg.payload += \".wav\"\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":265,"wires":[["cf0bc43e.25cd08"]]},{"id":"52d7e397.2179bc","type":"exec","z":"83b42288.2eb27","command":"curl","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"nlu-wit","x":1030,"y":325,"wires":[["a550dbc1.96d108"],[],[]]},{"id":"a6426b45.415018","type":"function","z":"83b42288.2eb27","name":"assign","func":"msg.payload = \"-XPOST https://api.wit.ai/speech?v=20200525 \"\nmsg.payload += \" -s\"\nmsg.payload += \" -H 'Authorization: Bearer \"\nmsg.payload += msg.token\nmsg.payload += \"'\"\nmsg.payload += \" -H 'Content-Type: audio/wav'\"\nmsg.payload += \" --data-binary @/home/pi/butler/listen/response\"\nmsg.payload += msg.retry.toString()\nmsg.payload += \".wav\"\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":325,"wires":[["52d7e397.2179bc"]]},{"id":"fea9ac5c.448fc","type":"switch","z":"83b42288.2eb27","name":"intent","property":"intent","propertyType":"msg","rules":[{"t":"eq","v":"StartIntent","vt":"str"},{"t":"eq","v":"VolumeUpIntent","vt":"str"},{"t":"eq","v":"VolumeDwIntent","vt":"str"},{"t":"eq","v":"DeliveryIntent","vt":"str"},{"t":"eq","v":"YesIntent","vt":"str"},{"t":"eq","v":"ComingIntent","vt":"str"},{"t":"eq","v":"NotComingIntent","vt":"str"},{"t":"eq","v":"EndIntent","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":9,"x":350,"y":240,"wires":[["55b683a7.d0365c"],["90ddf336.00498"],["19720b93.c35e64"],["59548e3d.048a7"],["8f5b39bc.e12618"],["3cbfb5d.d1ec14a"],["a63000d7.4bced"],["abe37476.a750c8"],["23fe2054.2feba"]]},{"id":"a550dbc1.96d108","type":"json","z":"83b42288.2eb27","name":"","property":"payload","action":"","pretty":false,"x":910,"y":385,"wires":[["a9cbe22b.299a4"]]},{"id":"cf5f4fab.23461","type":"function","z":"83b42288.2eb27","name":"assign","func":"msg.token = msg.payload.token\nmsg.volume = msg.payload.volume\nmsg.intent = msg.payload.intent\nmsg.retry = 0\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":240,"wires":[["fea9ac5c.448fc"]]},{"id":"3f1343e.d90b9bc","type":"mqtt out","z":"83b42288.2eb27","name":"intent","topic":"butler/intent","qos":"","retain":"","broker":"7c4ce906.75ea08","x":1290,"y":385,"wires":[]},{"id":"55b683a7.d0365c","type":"function","z":"83b42288.2eb27","name":"volume","func":"msg.payload = util.format(\"cset numid=1 %d%%\", msg.volume)\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":160,"wires":[["f537a4fc.8b5a28"]]},{"id":"f537a4fc.8b5a28","type":"exec","z":"83b42288.2eb27","command":"amixer","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"mixer","x":670,"y":200,"wires":[["77676638.fcac78"],[],[]]},{"id":"e8f7fe44.894ba","type":"link out","z":"83b42288.2eb27","name":"IntentOut","links":["4d204f21.d7ced"],"x":1115,"y":420,"wires":[]},{"id":"4d204f21.d7ced","type":"link in","z":"83b42288.2eb27","name":"IntentIn","links":["e8f7fe44.894ba","9f8e0afb.f68e98","70601700.86f5f8","e2f006e0.6171d8"],"x":255,"y":200,"wires":[["fea9ac5c.448fc"]]},{"id":"77676638.fcac78","type":"function","z":"83b42288.2eb27","name":"who","func":"msg.say = \"ask-who\"\nmsg.record = true\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":200,"wires":[["86c2173d.241b08"]]},{"id":"59548e3d.048a7","type":"function","z":"83b42288.2eb27","name":"signature","func":"msg.say = \"ask-signature\"\nmsg.record = true\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":280,"wires":[["86c2173d.241b08"]]},{"id":"8fff28e8.741ef8","type":"switch","z":"83b42288.2eb27","name":"","property":"record","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":200,"wires":[["2b7f3b57.a42fc4"],["507722f0.d6d73c","56e6439e.6551cc"]]},{"id":"8f5b39bc.e12618","type":"function","z":"83b42288.2eb27","name":"announce","func":"msg.say = \"say-announcingyou\"\nmsg.record = false\nmsg.intent = \"AnnounceIntent\"\nreturn msg;\n","outputs":1,"noerr":0,"x":520,"y":320,"wires":[["ef792420.6d7a38","86c2173d.241b08"]]},{"id":"abe37476.a750c8","type":"function","z":"83b42288.2eb27","name":"goodbye","func":"msg.say = \"say-goodbye\"\nmsg.record = false\nmsg.intent = \"EndIntent\"\nreturn msg;\n","outputs":1,"noerr":0,"x":520,"y":540,"wires":[["86c2173d.241b08"]]},{"id":"a9cbe22b.299a4","type":"function","z":"83b42288.2eb27","name":"assign","func":"if (msg.payload.hasOwnProperty(\"intents\") && msg.payload.intents.length > 0)\n    msg.intent = msg.payload.intents[0].name\nelse\n    msg.intent = 'NullIntent'\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":385,"wires":[["2b7f3b57.a42fc4","e8f7fe44.894ba"]]},{"id":"ff5bd094.24ffb","type":"rpi-gpio out","z":"83b42288.2eb27","name":"","pin":"22","set":true,"level":"0","freq":"","out":"out","x":320,"y":460,"wires":[]},{"id":"239eb69.6d13e4a","type":"change","z":"83b42288.2eb27","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":460,"wires":[["ff5bd094.24ffb"]]},{"id":"c61de077.392c9","type":"change","z":"83b42288.2eb27","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":520,"wires":[["ff5bd094.24ffb"]]},{"id":"6697b165.2f2df","type":"link in","z":"83b42288.2eb27","name":"LedOff","links":["44b3fc6f.8f8904"],"x":75,"y":460,"wires":[["239eb69.6d13e4a"]]},{"id":"76657c90.5dd574","type":"link in","z":"83b42288.2eb27","name":"LedOn","links":["507722f0.d6d73c","7c08391.74819c8"],"x":75,"y":520,"wires":[["c61de077.392c9"]]},{"id":"507722f0.d6d73c","type":"link out","z":"83b42288.2eb27","name":"","links":["76657c90.5dd574"],"x":1255,"y":220,"wires":[]},{"id":"44b3fc6f.8f8904","type":"link out","z":"83b42288.2eb27","name":"","links":["6697b165.2f2df"],"x":1155,"y":265,"wires":[]},{"id":"2b7f3b57.a42fc4","type":"change","z":"83b42288.2eb27","name":"payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"intent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1164,"y":385,"wires":[["3f1343e.d90b9bc"]]},{"id":"90ddf336.00498","type":"function","z":"83b42288.2eb27","name":"volumeup","func":"msg.volume = msg.volume + 10\nmsg.payload = util.format(\"cset numid=1 %d%%\", msg.volume)\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":200,"wires":[["f537a4fc.8b5a28"]]},{"id":"19720b93.c35e64","type":"function","z":"83b42288.2eb27","name":"volumedw","func":"msg.volume = msg.volume - 10\nmsg.payload = util.format(\"cset numid=1 %d%%\", msg.volume)\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":240,"wires":[["f537a4fc.8b5a28"]]},{"id":"ef792420.6d7a38","type":"file in","z":"83b42288.2eb27","name":"audio","filename":"/home/pi/butler/listen/response1.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":910,"y":440,"wires":[["267453f7.ccb11c"]]},{"id":"267453f7.ccb11c","type":"mqtt out","z":"83b42288.2eb27","name":"announce","topic":"butler/announce","qos":"","retain":"","broker":"7c4ce906.75ea08","x":1300,"y":440,"wires":[]},{"id":"23fe2054.2feba","type":"switch","z":"83b42288.2eb27","name":"retry","property":"retry","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":620,"wires":[["57f7f83e.65e568"],["592d0568.3fbc3c"],["50358a43.de7574"]]},{"id":"e2f006e0.6171d8","type":"link out","z":"83b42288.2eb27","name":"IntentOut","links":["4d204f21.d7ced"],"x":755,"y":640,"wires":[]},{"id":"57f7f83e.65e568","type":"function","z":"83b42288.2eb27","name":"nullintent","func":"msg.say = \"ask-nullintent\"\nmsg.record = true\n\nreturn msg;\n","outputs":1,"noerr":0,"x":660,"y":580,"wires":[["86c2173d.241b08"]]},{"id":"592d0568.3fbc3c","type":"change","z":"83b42288.2eb27","name":"volumeup","rules":[{"t":"set","p":"intent","pt":"msg","to":"VolumeUpIntent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":620,"wires":[["e2f006e0.6171d8"]]},{"id":"50358a43.de7574","type":"change","z":"83b42288.2eb27","name":"endintent","rules":[{"t":"set","p":"intent","pt":"msg","to":"EndIntent","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":660,"wires":[["e2f006e0.6171d8"]]},{"id":"3cbfb5d.d1ec14a","type":"function","z":"83b42288.2eb27","name":"coming","func":"msg.say = \"say-coming\"\nmsg.record = false\nmsg.intent = \"ComingIntent\"\nreturn msg;\n","outputs":1,"noerr":0,"x":520,"y":360,"wires":[["86c2173d.241b08"]]},{"id":"a63000d7.4bced","type":"function","z":"83b42288.2eb27","name":"notcoming","func":"msg.say = \"say-notcoming\"\nmsg.record = false\nmsg.intent = \"EndIntent\"\nreturn msg;\n","outputs":1,"noerr":0,"x":530,"y":400,"wires":[["86c2173d.241b08"]]},{"id":"7c4ce906.75ea08","type":"mqtt-broker","z":"","name":"HASS","broker":"192.168.101.113","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
