node-red/butler-flow.json
[{"id":"9a45335.49dd0d","type":"mqtt in","z":"83b42288.2eb27","name":"start","topic":"butler/dialogueManager/startSession","qos":"2","datatype":"json","broker":"7c4ce906.75ea08","x":110,"y":220,"wires":[["cf5f4fab.23461"]]},{"id":"11c3a767.9eba09","type":"exec","z":"83b42288.2eb27","command":"aplay","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"play","x":1010,"y":160,"wires":[["8fff28e8.741ef8"],[],[]]},{"id":"86c2173d.241b08","type":"function","z":"83b42288.2eb27","name":"assign","func":"msg.payload = \"-q \"\nmsg.payload += \"/home/pi/butler/say/\"\nmsg.payload += msg.say\nmsg.payload += \".wav\"\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":160,"wires":[["11c3a767.9eba09"]]},{"id":"cf0bc43e.25cd08","type":"exec","z":"83b42288.2eb27","command":"arecord","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"record","x":1010,"y":225,"wires":[["a6426b45.415018","44b3fc6f.8f8904"],[],[]]},{"id":"56e6439e.6551cc","type":"function","z":"83b42288.2eb27","name":"assign","func":"msg.payload = \"-q -d 3\"\nmsg.payload += \" -t wav \"\nmsg.payload += \"/home/pi/butler/listen/response.wav\"\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":225,"wires":[["cf0bc43e.25cd08"]]},{"id":"52d7e397.2179bc","type":"exec","z":"83b42288.2eb27","command":"curl","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"nlu-wit","x":1010,"y":285,"wires":[["a550dbc1.96d108"],[],[]]},{"id":"a6426b45.415018","type":"function","z":"83b42288.2eb27","name":"assign","func":"msg.payload = \"-XPOST https://api.wit.ai/speech?v=20200525 \"\nmsg.payload += \" -s\"\nmsg.payload += \" -H 'Authorization: Bearer \"\nmsg.payload += flow.get(\"token\")\nmsg.payload += \"'\"\nmsg.payload += \" -H 'Content-Type: audio/wav'\"\nmsg.payload += \" --data-binary @/home/pi/butler/listen/response.wav\"\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":285,"wires":[["52d7e397.2179bc"]]},{"id":"fea9ac5c.448fc","type":"switch","z":"83b42288.2eb27","name":"intent","property":"intent","propertyType":"msg","rules":[{"t":"eq","v":"StartIntent","vt":"str"},{"t":"eq","v":"AttentionIntent","vt":"str"},{"t":"eq","v":"DeliveryIntent","vt":"str"},{"t":"eq","v":"OtherIntent","vt":"str"},{"t":"eq","v":"ComingIntent","vt":"str"},{"t":"eq","v":"SolicitingIntent","vt":"str"},{"t":"eq","v":"VolumeUpIntent","vt":"str"},{"t":"eq","v":"VolumeDwIntent","vt":"str"},{"t":"eq","v":"YesIntent","vt":"str"},{"t":"eq","v":"NoIntent","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":11,"x":350,"y":220,"wires":[["77676638.fcac78"],["4a7b014a.a3c7"],["59548e3d.048a7"],["88860808.91a218"],[],["abe37476.a750c8"],[],[],["8f5b39bc.e12618"],[],["22d57fe4.03482"]]},{"id":"a550dbc1.96d108","type":"json","z":"83b42288.2eb27","name":"","property":"payload","action":"","pretty":false,"x":890,"y":345,"wires":[["a9cbe22b.299a4"]]},{"id":"cf5f4fab.23461","type":"function","z":"83b42288.2eb27","name":"assign","func":"flow.set(\"token\", msg.payload.token)\nflow.set(\"volume\", msg.payload.volume)\nreturn {intent: msg.payload.intent, payload: msg.payload};","outputs":1,"noerr":0,"x":230,"y":220,"wires":[["fea9ac5c.448fc","55b683a7.d0365c"]]},{"id":"3f1343e.d90b9bc","type":"mqtt out","z":"83b42288.2eb27","name":"intent","topic":"butler/intent","qos":"","retain":"","broker":"7c4ce906.75ea08","x":1270,"y":345,"wires":[]},{"id":"55b683a7.d0365c","type":"function","z":"83b42288.2eb27","name":"assign","func":"msg.payload = util.format(\"cset numid=1 %d%%\", msg.payload.volume)\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":465,"wires":[["f537a4fc.8b5a28"]]},{"id":"f537a4fc.8b5a28","type":"exec","z":"83b42288.2eb27","command":"amixer","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"mixer","x":690,"y":465,"wires":[[],[],[]]},{"id":"e8f7fe44.894ba","type":"link out","z":"83b42288.2eb27","name":"IntentOut","links":["4d204f21.d7ced"],"x":1095,"y":390,"wires":[]},{"id":"4d204f21.d7ced","type":"link in","z":"83b42288.2eb27","name":"IntentIn","links":["e8f7fe44.894ba"],"x":255,"y":180,"wires":[["fea9ac5c.448fc"]]},{"id":"77676638.fcac78","type":"function","z":"83b42288.2eb27","name":"ask-reason","func":"return {\n    say: \"ask-reason\", \n    record: true, \n    payload: msg.payload\n};","outputs":1,"noerr":0,"x":590,"y":165,"wires":[["86c2173d.241b08"]]},{"id":"4a7b014a.a3c7","type":"function","z":"83b42288.2eb27","name":"ask-attention","func":"return {\n    say: \"ask-attention\", \n    record: true, \n    payload: msg.payload\n};","outputs":1,"noerr":0,"x":590,"y":205,"wires":[["86c2173d.241b08"]]},{"id":"59548e3d.048a7","type":"function","z":"83b42288.2eb27","name":"ask-signature","func":"return {\n    say: \"ask-signature\", \n    record: true, \n    payload: msg.payload\n};","outputs":1,"noerr":0,"x":600,"y":245,"wires":[["86c2173d.241b08"]]},{"id":"88860808.91a218","type":"function","z":"83b42288.2eb27","name":"ask-presence","func":"return {\n    say: \"ask-presence\", \n    record: true, \n    payload: msg.payload\n};","outputs":1,"noerr":0,"x":600,"y":285,"wires":[["86c2173d.241b08"]]},{"id":"8fff28e8.741ef8","type":"switch","z":"83b42288.2eb27","name":"","property":"record","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1130,"y":160,"wires":[["56e6439e.6551cc","507722f0.d6d73c"]]},{"id":"8f5b39bc.e12618","type":"function","z":"83b42288.2eb27","name":"say-coming","func":"return {\n    say: \"say-coming\", \n    record: false, \n    payload: msg.payload\n};","outputs":1,"noerr":0,"x":590,"y":365,"wires":[["86c2173d.241b08"]]},{"id":"abe37476.a750c8","type":"function","z":"83b42288.2eb27","name":"say-goodbye","func":"return {\n    say: \"say-goodbye\", \n    record: false, \n    payload: msg.payload\n};","outputs":1,"noerr":0,"x":590,"y":325,"wires":[["86c2173d.241b08"]]},{"id":"22d57fe4.03482","type":"function","z":"83b42288.2eb27","name":"say-nointent","func":"return {\n    say: \"say-nointent\", \n    record: false, \n    payload: msg.payload\n};","outputs":1,"noerr":0,"x":590,"y":405,"wires":[["86c2173d.241b08"]]},{"id":"a9cbe22b.299a4","type":"function","z":"83b42288.2eb27","name":"assign","func":"if (msg.payload.hasOwnProperty(\"intents\") && msg.payload.intents.length > 0)\n    return {\n        intent: msg.payload.intents[0].name,\n        payload: msg.payload\n    }\nelse\n    return {\n        intent: 'NullIntent',\n        payload: msg.payload\n    };\n","outputs":1,"noerr":0,"x":1010,"y":345,"wires":[["e8f7fe44.894ba","2b7f3b57.a42fc4"]]},{"id":"ff5bd094.24ffb","type":"rpi-gpio out","z":"83b42288.2eb27","name":"","pin":"22","set":true,"level":"0","freq":"","out":"out","x":320,"y":400,"wires":[]},{"id":"239eb69.6d13e4a","type":"change","z":"83b42288.2eb27","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":400,"wires":[["ff5bd094.24ffb"]]},{"id":"c61de077.392c9","type":"change","z":"83b42288.2eb27","name":"1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":460,"wires":[["ff5bd094.24ffb"]]},{"id":"6697b165.2f2df","type":"link in","z":"83b42288.2eb27","name":"LedOff","links":["44b3fc6f.8f8904"],"x":75,"y":400,"wires":[["239eb69.6d13e4a"]]},{"id":"76657c90.5dd574","type":"link in","z":"83b42288.2eb27","name":"LedOn","links":["507722f0.d6d73c"],"x":75,"y":460,"wires":[["c61de077.392c9"]]},{"id":"507722f0.d6d73c","type":"link out","z":"83b42288.2eb27","name":"","links":["76657c90.5dd574"],"x":1235,"y":161,"wires":[]},{"id":"44b3fc6f.8f8904","type":"link out","z":"83b42288.2eb27","name":"","links":["6697b165.2f2df"],"x":1135,"y":225,"wires":[]},{"id":"2b7f3b57.a42fc4","type":"change","z":"83b42288.2eb27","name":"payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"intent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":345,"wires":[["3f1343e.d90b9bc"]]},{"id":"7c4ce906.75ea08","type":"mqtt-broker","z":"","name":"HASS","broker":"192.168.101.113","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
